@use "../../../styles.scss" as *;

main {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) -27.44%, rgba(0, 0, 0, 0.44) 44.23%, rgba(0, 0, 0, 0.80) 100%), url('../../../assets/images/backgrounds/cinema-popcorn.jpg') lightgray -703px -144.496px / 151.528% 161.65% no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: calc(32.5rem - 3.5rem - 3.5rem);
    padding: 2.6875rem 3.5rem;
    border-radius: 3rem;
    background: $white;
}


h1 {
    color: $purple;
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
}


::ng-deep .email-field, ::ng-deep .password-field {
    align-self: stretch;
    margin-bottom: -1.25rem;

    > div:first-child {
        background-color: $white;
        border-radius: 0.75rem;
        padding: 0 1.5rem;
        border: 1px solid $purple;
    }

    .mat-mdc-form-field-infix {
        padding: calc(0.75rem - 1px) 0 !important;
        display: flex;
        align-items: center;
        min-height: unset;
    }

    input {
        color: $purple !important;
        font-size: 1.125rem !important;

        &::placeholder {
            color: $purple !important;
            font-size: 1.125rem !important;
        }
    }

    button {
        width: 1.875rem;
        height: 1.875rem;
        padding: 0.1875rem;

        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}


div.password {
    position: relative;
    width: 100%;

    >input {
        width: 100%;
    }

    >img {
        position: absolute;
        top: 0.75rem;
        right: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
    }
}

.links-buttons {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    >button {
        width: fit-content;
    }

    a {
        text-decoration: none;
        color: $purple;
        font-size: 1.125rem;
        font-weight: 700;
    }

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        align-self: stretch;

        span {
            color: $black;
            font-size: 1.125rem;
            font-weight: 500;
        }
    }
}

div.error {
    margin-top: -1.75rem;
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: $error;
    font-size: 0.9375rem;
    line-height: normal;

    >img {
        width: 1rem;
        height: 1rem;
    }
}

@media (max-width: 600px) {
    form {
        padding: 2.6875rem 1.5rem;
        gap: 1.5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    ::ng-deep .email-field > div:first-child {
        margin-top: 0.5rem;
    }

    ::ng-deep .password-field > div:first-child {
        margin-bottom: 0.5rem;
    }

    ::ng-deep .email-field input, ::ng-deep .password-field input {
        font-size: 1rem !important;
        &::placeholder {
            font-size: 1rem !important;
        }
    }
}

@media (max-width: 500px) {
    form {
        width: calc(22.375rem - 1.5rem - 1.5rem);
    }
}

@media (max-width: 360px) {
    .links-buttons {
        >div {
            gap: 1rem;
        }
    }
}
