<main>
    <section>
        <h1>Sign Up</h1>
        <input type="email" placeholder="Email Address">
        <div class="password">
            <input type="password" placeholder="Enter a password">
            <img src="assets/images/icons/visibility.svg" alt="Toggle password visibility">
        </div>
        <div class="password">
            <input type="password" placeholder="Confirm password">
            <img src="assets/images/icons/visibility.svg" alt="Toggle password visibility">
        </div>
        <div class="error">
            <img src="assets/images/icons/warning.svg" alt="">
            Passwords must match.
        </div>
        <button class="filled">Get Started</button>
    </section>
</main>
