<main>
    <form>
        <h1>Sign Up</h1>
        <!-- <div class="error">
            <img src="assets/images/icons/warning.svg" alt="">
            Passwords must match.
        </div> -->
        <mat-form-field class="email-field">
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Email Address">
          @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="password-field">
            <input matInput [type]="hide() ? 'password' : 'text'" placeholder="Enter a password" />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
            <img [src]="hide() ? 'assets/images/icons/visibility_off.svg' : 'assets/images/icons/visibility.svg'" alt="Toggle password visibility">
            </button>
          </mat-form-field>
          <mat-form-field class="password-field">
            <input matInput [type]="hide() ? 'password' : 'text'" placeholder="Confirm password" />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
            <img [src]="hide() ? 'assets/images/icons/visibility_off.svg' : 'assets/images/icons/visibility.svg'" alt="Toggle password visibility">
            </button>
          </mat-form-field>
          <!-- TODO: Add password validation + error messages -->
        <button type="submit" mat-flat-button class="filled">Sign Up</button>
    </form>
</main>
