<main>
    <div class="video-detail">
        <div>
            <h1>Breakout</h1>
            <p>In a high-security prison, a wrongly convicted man formulates a meticulous plan to break out and prove his innocence. He must navigate a web of alliances and betrayals to reclaim his freedom and expose the truth.</p>
            <button mat-flat-button class="filled">Get Started<img src="assets/images/icons/chevron_right.svg"></button>
        </div>
    </div>
    <div class="video-list">
        <div *ngFor="let category of getCategories()">
            <h2>{{category.category}}</h2>
            <div>
                <img *ngFor="let video of category.videos" [src]="video.image" alt="{{video.title}}">
            </div>
        </div>
    </div>
</main>
