<main>
    <form>
        <h1>Forgot your password?</h1>
        <!-- <div class="error">
            <img src="assets/images/icons/warning.svg" alt="">
            Passwords must match.
        </div> -->
        <p>We will send you an email with instructions to reset your password.</p>
        <mat-form-field class="email-field">
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Email Address">
          @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
          <!-- TODO: Add email validation + error messages -->
        <button type="submit" mat-flat-button class="filled">Send Email</button>
    </form>
</main>
