<main>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
        <h1>Forgot your password?</h1>

        <p>We will send you an email with instructions to reset your password.</p>
        <mat-form-field class="email-field">
          <input type="email" matInput formControlName="email" placeholder="Email Address">
          @if (forgotPasswordForm.get('email')?.hasError('email') && !forgotPasswordForm.get('email')?.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (forgotPasswordForm.get('email')?.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <div *ngIf="errorMessage" class="error">
          {{ errorMessage }}
        </div>
        <button type="submit" [disabled]="forgotPasswordForm.invalid || isSubmitting" mat-flat-button class="filled">Send Email</button>
    </form>
</main>
