@use '@angular/material' as mat;
@use './styles/_theme-colors.scss' as theme-colors;
@use './styles/fonts.scss' as *;

$purple: #2E3EDF;
$white: #FFFFFF;
$black: #000000;
$error: #FF002E;

html {
  @include mat.theme((color: (theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: 'DM Sans, sans-serif',
      density: 0,
    ));
}

* {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}

button.filled {
  border-radius: 2.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  border: none;
  height: unset;
}

button.outline {
  border-radius: 2.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  border: 1px solid $purple;
  background-color: transparent;
  color: $purple;
  height: unset;
}

html,
body {
  height: 100%;
}