/* You can add global styles to this file, and also import other style files */
@use "./fonts.scss" as *;

$purple: #2E3EDF;
$white: #FFFFFF;
$black: #000000;
$error: #FF002E;

* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    scroll-behavior: smooth;
}

button.filled {
    border-radius: 2.5rem;
    background: $purple;
    padding: 0.75rem 1.5rem;
    color: $white;
    font-size: 1.125rem;
    font-weight: 700;
    border: none;
}