@use "../../styles.scss" as *;

main {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #000 -19.89%, rgba(0, 0, 0, 0.55) 40.46%, #000 100%), url("../../assets/images/backgrounds/video-collage.jpg") lightgray -5.713px -94.592px / 117.212% 117.212% no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    > div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    > form { 
        display: flex;
        gap: 1rem;
    }
}

h1 {
    color: $white;
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
}

span {
    color: $white;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

p { 
    color: $white;
    text-align: center;
    font-size: 1.125rem;
    line-height: normal;
}

::ng-deep mat-form-field {
    > div:first-child {
        border-radius: 2.5rem;
        border: 1px solid $white;
        padding: 0 1.5rem;
        width: 22.5rem;
        background-color: transparent !important;
    

    
        &:focus {
            outline: none;
        }
    }

    .mat-mdc-form-field-infix {
        padding: calc(0.75rem - 1.5px) 0 !important;
        min-height: unset !important;
    }

    input {
        color: #FFF !important;
        font-size: 1.125rem !important;

        &::placeholder {
            color: #FFF !important;
        }
    }
}

::ng-deep button {
    height: 3rem !important;

    >.mdc-button__label {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    
        >img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

.mobile {
    display: none;
}

@media (max-width: 390px) {
    main {
        > form {
            flex-direction: column;
            max-width: 91.8vw;
            width: 100%;
        }

        > div:first-child {
            max-width: 91.8vw;
        }
    }

    h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    p {
        font-size: 1rem;
    }

    .mobile {
        display: block;
    }

    ::ng-deep mat-form-field {
        width: 100%;
        > div:first-child {
            width: 100%;
        }
    }

    button.filled {
        width: max-content;
        align-self: center;
    }

    ::ng-deep mat-form-field input::placeholder {
        font-size: 1rem;
    }
}

