<main>
  <div>
    <h1>Movies, TV shows, and more</h1>
    <span class="mobile">Watch whenever you want wherever you want</span>
    <p>Enter your email to create or restart your subscription.</p>
  </div>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="email" matInput [formControl]="emailFormControl" placeholder="Email Address">
      @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
      }
      @if (emailFormControl.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <button mat-flat-button class="filled" (click)="navigateToSignup()">Sign Up<img
        src="assets/icons/chevron_right.svg"></button>
  </form>
</main>